* {
    overflow: hidden;
}

body {

    background-color: #000000;
    /*
    background: -webkit-linear-gradient(135deg, #F8F39F 50%, #f27ea3);
    background: -o-linear-gradient(135deg, #F8F39F 50%, #f27ea3);
    background: -moz-linear-gradient(135deg, #F8F39F 50%, #f27ea3);
    background: linear-gradient(135deg, #F8F39F 50%, #f27ea3);
    */
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
/*
#background {
    
    background-image: url(../resources/images/background_b.png);
    background-size: 41px 40px;
    background-position: 0 0;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
*/
.button {
    
    cursor: pointer;
    
}

#error_orientation {
    
    display: none;
    background-color: #000000;
    width: 100%;
    height: 100%;;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#image_error_orientation {
    
    width: 16.2037037037037%;
    max-width: 350;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

/* ↓ NAVIGATION ↓ */

.button_navigation {
    
    width: 7.421875%;
    max-width: 380;
    height: auto;
    position: absolute;
    top: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.button_navigation_vertical {
    
    width: 7.421875%;
    max-width: 380;
    height: auto;
    position: absolute;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.button_navigation_left {
    

    left: 6.8359375%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.button_navigation_right {
    

    left: 93.1640625%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.button_navigation_up {
    

    top: 12.152777777777777777777777777778%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.button_navigation_down {
    

    top: 87.847222222222222222222222222222%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#image_button_navigation_left {
    

    display: none;
    
}

#image_button_navigation_left_clicked {
    

    display: none;
    
}

#image_button_navigation_right {
    

    display: inline;
    
}

#image_button_navigation_right_clicked {
    

    display: none;
    
}

#image_button_navigation_close {
    

    display: none;
    
}

#image_button_navigation_close_clicked {
    

    display: none;
    
}

#image_button_navigation_up {
    

    display: none;
    
}

#image_button_navigation_up_clicked {
    

    display: none;
    
}

#image_button_navigation_down {
    

    display: none;
    
}

#image_button_navigation_down_clicked {
    

    display: none;
    
}

#image_button_navigation_twitter {
    
    display: none;
    width: 3.3203125%;
    max-width: 170;
    height: auto;
    position: absolute;
    top: 70.525104166666666666666666666667%;
    left: 47.07712890625%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#image_button_navigation_linkedin {
    
    display: none;
    width: 3.3203125%;
    max-width: 170;
    height: auto;
    position: absolute;
    top: 70.271944444444444444444444444444%;
    left: 52.856171875%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

/* ↑ NAVIGATION ↑ */

/* ↓ GAMIFICATION ↓ */

.button_lock {
    
    width: 11.1163671875%;
    max-width: 569.158;
    height: auto;
    position: absolute;
    top: 50%;
    left: 70%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.button_lock_and_key {
    
    width: 16.21919921875%;
    max-width: 830.423;
    height: auto;
    position: absolute;
    top: 50%;
    left: 72.55142578125%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#image_button_lock {
    
    display: none;
    
}

#image_button_unlock_key {
    
    display: none;
    width: 9.765625%;
    max-width: 500;
    height: auto;
    position: absolute;
    top: 50%;
    left: 70%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#image_lock_and_key_amount {
    
    display: none;
    width: 19.08369140625%;
    max-width: 977.085;
    height: auto;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

/* ↑ GAMIFICATION ↑ */

/* ↓ ME ↓ */

.standard_logo {
    
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.final_logo {
    
    top: 43.660069444444444444444444444444%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#image_button_circle {
    
    display: inline;
    width: 16.40625%;
    max-width: 840;
    height: auto;
    position: absolute;
    left: 50%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#image_button_name {
    
    display: inline;
    width: 27.6497265625%;
    max-width: 1415.666;
    height: auto;
    position: absolute;
    left: 50%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

/* ↑ ME ↑ */

/* ↓ JOB ↓ */

#job {
    
    display: none;
    
}

#0 {
    
    display: none;
    
}

.video {
    
    width: 50%;
    height: 50%;
    border-color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#video_1 {
    
    display: none;
    
}

#video_2 {
    
    display: none;
    
}

.job_description {
    
    width: 69%;
    max-width: 3532.8;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.button_job_gallery {
    
    width: 39.0234375%;
    max-width: 1998;
    height: auto;
    position: absolute;
    top: 50%;
    left: 61.962890625%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.job_gallery {
    
    width: 69%;
    max-width: 3532.8;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: ;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#1 {
    
    display: none;
    
}

#1_intro {
    
    display: none;
    
}

#1_gallery {
    
    display: none;
    
}

#image_job_gallery_1_1 {
    
    display: none;
    
}

#image_job_gallery_1_2 {
    
    display: none;
    
}

#image_job_gallery_1_3 {
    
    display: none;
    
}

#2 {
    
    display: none;
    
}

#2_intro {
    
    display: none;
    
}

#2_gallery {
    
    display: none;
    
}

#image_job_gallery_2_1 {
    
    display: none;
    
}

#image_job_gallery_2_2 {
    
    display: none;
    
}

#image_job_gallery_2_3 {
    
    display: none;
    
}

#3 {
    
    display: none;
    
}

#3_intro {
    
    display: none;
    
}

#3_gallery {
    
    display: none;
    
}

#image_job_gallery_3_1 {
    
    display: none;
    
}

#image_job_gallery_3_2 {
    
    display: none;
    
}

#image_job_gallery_3_3 {
    
    display: none;
    
}

/* ↑ JOB ↑ */